.addPost {
  color: black;
  background-color: rgb(255, 165, 0);
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 2%;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80%;
}

.addPost:hover {
  border-color: black;
}

.filter {
  margin-top: 1%;
  margin-left: 11%;
  font-size: 20px;
  cursor: pointer;
}
.filter:hover {
  color: rgb(255, 165, 0);
}

.height {
  height: 49px;
}
